:root {
    --teal: #2ec1ac;
    --teal_hover: #2ec1ac; 
}

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.h-font{
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.custom-bg{
    background-color: var(--teal);
    border: 1px solid var(--teal);
}

.custom-bg:hover{
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}

.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.custom_alert{
    position: fixed;
    top: 25px;
    right: 25px;
}

#dashboard-menu{
    position: fixed;
    height: 100%;
}

@media screen and (max-wdith: 992px){
    #dashboard-menu{
        width: 100%;
        height: auto;
    }
    #main-content{
        margin-top: 60px;
    }
}